:root {
    --dark-blue-color: #010032;
    --blue-color: #4543E8;
    --black-color: #04100B;
    --black-color-80: #04100B80;
    --black-color-60: #04100B60;
    --black-color-40: #04100B40;
    --black-color-20: #04100B20;
    --light-grey-color: #F5F5F5;
    --white-color: #FBFBFB;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Epilogue';
    user-select: none;
    font-style: normal;
    font-weight: normal;
}

body {
    overflow-x: hidden;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

header {
    padding: 14px 80px 10px;
    background-color: var(--dark-blue-color);
    width: -webkit-fill-available;
}

.header {
    padding: 13px 0;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo-wrapper {
    width: max-content;
    display: flex;
    text-decoration: none;
}

.logo-wrapper__logo {
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    box-shadow: inset 0px -4px 4px var(--black-color-20);
    border-radius: 11px;
    margin-right: 15px;
}

.logo-wrapper__logo-text {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.logo-wrapper__logo-text_animated {
    margin-left: 5px;
    animation-name: blink;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    50% {
      opacity: 0;
    }
}

.navigation-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}

.navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.navigation-list__item {
    margin-left: 40px;
    font-weight: 400;
    font-size: 15px;
}

.navigation-list__item a {
    text-decoration: none;
    color: #FFFFFF;
}

.navigation-list__item a:hover {
    text-decoration: underline;
}

#first-screen {
    padding: 100px 80px 0;
    background-color: var(--dark-blue-color);
    width: -webkit-fill-available;
}

.first-screen-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.first-screen {
    max-width: 690px;
}

.title {
    font-weight: 400;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    margin-bottom: 34px;
}

.title__accent {
    font-weight: 500;
}

.first-screen__content {
    max-width: 545px;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    color: #FFFFFF;
    margin-bottom: 23px;
}

.button-link {
    padding: 20px 35px 19px;
    border: none;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.first-screen__mail-link {
    background: #FFFFFF;
    width: 199px;
    height: 65px;
    color: var(--black-color);
    margin-bottom: 100px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.first-screen__mail-link:hover {
    background: #ffffffda;
}

.button-link__logo {
    background: url("../images/letter-logo.svg");
    width: 24px;
    height: 28px;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.achieve-section.first-screen-wrapper__achieve-section {
    max-width: 620px;
    height: 64px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
}

.achieve-section__picture-wrapper {
    width: 64px;
    height: 64px;
    margin-right: 24px;
}

/* .achieve-section__picture {} */

.achieve-section__content {
    max-width: 400px;
    height: 100%;
}

.achieve-section__content h5 {
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 7px;
}

.achieve-section__content p {
    font-size: 15px;
    line-height: 22px;
    text-decoration-line: underline;
    color: rgba(255, 255, 255, 0.6);
}

.achieve-section__content p a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.first-screen-wrapper__picture {
    width: 590px;
    height: 665px;
    background: url("../images/first-screen-image.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 49px;
    background-position-x: 60px;
}

.breadcrumb {
    max-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.breadcrumb__icon {
    margin-right: 20px;
}

.breadcrumb__title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--blue-color);
}

#about {
    padding: 144px 80px 180px;
    width: -webkit-fill-available;
}

.about {
    max-width: 1280px;
    min-height: 400px;
    align-items: space-between;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about__left-part {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.review {
    max-width: 400px;
    width: 100%;
}

.stars {
    max-width: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
}

.stars__star {
    width: 22px;
    cursor: pointer;
}

.review__content {
    font-size: 19px;
    line-height: 28px;
    margin-bottom: 27px;
}

.reviewer {
    max-width: 310px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.reviewer__avatar {
    width: 61px;
    height: 61px;
    background: var(--dark-blue-color);
    margin-right: 24px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.reviewer__data {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.reviewer__name {
    margin-bottom: 7px;
    font-size: 18px;
    line-height: 24px;
    width: max-content;
}

.reviewer__position {
    font-size: 10px;
    line-height: 24px;
}

.about-section {
    max-width: 710px;
    width: 100%;
}

.subtitle {
    font-size: 48px;
    line-height: 54px;
}

.about-section__subtitle {
    margin-bottom: 74px;
}

.achievements-grid {
    display: grid;
    grid-template-columns: 230px 230px auto;
    grid-gap: 50px;
    margin-bottom: 50px;
}

/* .achievements-grid__item {} */

.achievements-grid__item-number {
    color: var(--blue-color);
    font-size: 60px;
    line-height: 66px;
    margin-bottom: 8px;
}

.achievements-grid__item-content {
    font-size: 21px;
    line-height: 31px;
    max-width: 231px;
    width: 100%;
}

.technologies-list {
    display: grid;
    grid-template-columns: 156px 175px 156px 156px;
    grid-gap: 33px;
}

.technologies-list__item-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.technologies-list__item-logo {
    width: 34px;
    height: 34px;
    margin-right: 9px;
}

.technologies-list__item-title {
    font-weight: 600;
    font-size: 21px;
    line-height: 31px;
    align-self: end;
}

#work {
    padding: 14px 80px 10px;
    width: -webkit-fill-available;
}

.work {
    max-width: 1280px;
    margin: 0 auto;
}

.work .subtitle {
    font-size: 60px;
    line-height: 66px;
    margin-top: 26px;
    margin-bottom: 78px;
    max-width: 698px;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-gap: 50px;
}

.work-article {
    display: flex;
    flex-direction: column;
}

.work-article:nth-of-type(1) {
    width: 510px;
    height: 665px;
}

.work-article:nth-of-type(2) {
    width: 620px;
    height: 825px;
    margin-bottom: 40px;
}

.work-article:nth-of-type(3) {
    width: 720px;
    /* height: 720px; */
    margin: 0 auto;
    margin-bottom: 55px;
}

.work-article:nth-of-type(4) {
    width: 620px;
    height: 825px;
}

.work-article:nth-of-type(5) {
    width: 510px;
    height: 665px;
}

.work-article__picture {
    background: var(--black-color-40);
    width: 100%;
    height: -webkit-fill-available;
    margin-bottom: 27px;
}

.work-article__content-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: -webkit-fill-available;
}

.work-article__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 23px;
    width: 400px;
}

.work-article__link {
    width: 28px;
    height: 28px;
    background: url(../images/link-arrow.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.work-article__content {
    font-size: 12px;
    line-height: 28px;
}

.work__link-button {
    padding: 56px 40px;
    height: 160px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue-color);
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    margin-left: auto;
    margin-bottom: 120px;
}

.work__link-button:hover {
    text-decoration: underline;
}

#services {
    padding: 144px 80px;
    background-color: var(--dark-blue-color);
    width: -webkit-fill-available;
}

.services-wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.services-wrapper .breadcrumb {
    margin-bottom: 22px;
    color: #FFFFFF;
}

.services-wrapper .breadcrumb__icon {
    filter: brightness(6);
}

.services-wrapper .breadcrumb h3 {
    color: #FFFFFF;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-gap: 45px;
}

.services .subtitle {
    font-size: 48px;
    line-height: 54px;
    color: #FFFFFF;
    max-width: 352px;
    /* margin-right: 160px; */
}

.services__item {
    height: 283px;
    width: 352px;
}

.services__item-icon {
    width: 56px;
    height: 56px;
    display: block;
    margin-bottom: 20px;
}

.services__item-title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 23px;
    color: #FFFFFF;
}

.services__item-content {
    font-size: 18px;
    line-height: 28px;
    max-width: 289px;
    color: #FFFFFF;
}

.button-section {
    width: 352px;
    height: 166px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
}

.button-section__button {
    width: 268px;
    height: 65px;
    background-color: #FFFFFF;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-blue-color);
    cursor: pointer;
}

.button-section__button:hover {
    background-color: #FFFFFFda;
}

.button-section__waves {
    height: 44px;
    width: 168px;
    background: url(../images/waves.png);
    background-size: cover;
    margin-left: auto;
}

#blog {
    padding: 31px 80px 80px;
    width: -webkit-fill-available;
}

.blog-screen {
    max-width: 1280px;
    margin: 0 auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 85px;
}

.subtitle.blog-subtitle {
    font-weight: 300;
    font-size: 54px;
    line-height: 64px;
    letter-spacing: 1.2px;
    margin-top: 9px;
    max-width: 631px;
}

.blog-screen__link.button-link {
    color: #FFF;
    background-color: var(--blue-color);
    width: 274px;
    height: 65px;
}

.blog-screen__link.button-link:hover {
    text-decoration: underline;
}

/* .button-link__logo-arrow {TODO} */

.news-article {
    height: 288px;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--light-grey-color);
}

.news-article__picture {
    width: 376px;
    height: 241px;
    background-color: var(--black-color-40);
    margin-right: 40px;
}

.news-article__item-data {
    min-width: 749px;
}

.news-article__date {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--blue-color);
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 19px;
}

.news-article__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 23px;
}

.news-article__content {
    max-width: 500px;
    font-size: 12px;
    line-height: 28px;
}

.news-article__link {
    font-size: 18px;
    line-height: 25px;
    color: var(--blue-color);
    cursor: pointer;
    text-decoration: none;
    display: flex;
    height: min-content;
    align-content: normal;
    align-items: baseline;
    width: 115px;
    justify-content: space-between;
}

.news-article__link:hover {
    text-decoration: underline;
}

.news-article__link-arrow {
    background: url(../images/article-link-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 22px;
    height: 26px;
    display: inline-block;
}

.preview-section-hidden {
    display: none;
}

#contact {
    height: 336px;
    padding: 96px 80px;
    background-color: var(--dark-blue-color);
    width: -webkit-fill-available;
}

.contact {
    max-width: 1280px;
    margin: 0 auto;
}

.contact .breadcrumb {
    align-items: baseline;
}

.contact .breadcrumb__icon {
    filter: brightness(6);
}

.contact .breadcrumb__title {
    color: #FFFFFF;
    margin-bottom: 24px;
}

.running-string__content {
    color: #FFFFFF;
    margin-left: -250px;
    font-size: 60px;
    line-height: 66px;
    width: max-content;
}

footer {
    padding: 0 80px 38px;
    background-color: var(--dark-blue-color);
    width: -webkit-fill-available;
}

.footer {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 220px 335px 460px;
    grid-gap: 140px;
    color: #FFFFFF;
}

.footer__mail {
    color: #FFFFFF;
    font-size: 17px;
    line-height: 28px;
}

.footer__navigation {
    height: 160px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    list-style: none;
}

.footer__navigation-item {
    width: 80px;
}

.footer__navigation-item a {
    color: #FFFFFF;
    text-decoration: none;
}

.footer__navigation-item a:hover {
    text-decoration: underline;
}

.subscibtion {
    display: flex;
    flex-direction: column;
    border-bottom: rgba(255, 255, 255, 0.2);
}

.subscibtion__text {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 16px;
}

/* .subscibtion__input-group {} */

.subscibtion__input {
    padding: 5px 15px;
    width: 260px;
    height: 38px;
    border: none;
    border-radius: 240px;
    margin-right: 20px;
    color: #FFFFFF;
    border: 1px solid #fff6;
    height: 48px;
    background: transparent;
}

.subscibtion__button {
    width: 140px;
    height: 48px;
    outline: none;
    border: none;
    border-radius: 24px;
    background: var(--blue-color);
    color: #FFFFFF;
}

.cb {
    width: max-content;
}

.cb__text {
    font-size: 16px;
    line-height: 24px;
}
